@font-face {
	font-family: bitmapFont; src: url(perfectDosVga437.ttf);
}

body {
	background-color: black;
	font-family: bitmapFont;
	font-size: 16px;
	color: white;
	line-height: 100%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
